.card {
  width: 18rem;
  transition:  all 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(100,100,100,0.3);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  background-color: rgba(232,232,232,0.7);
}

.card-container {
  flex-wrap: wrap;
  margin-inline: 20px;
  background-color: transparent;
  margin-block: 20px;
  gap: 30px;
  margin-top: 120px;
  width : clamp(1250px, 100%, 100%);
}

.card-img-top .card-title .card-text {
  cursor: pointer;
}

